<!DOCTYPE html>
<html>
  <head>
    <title>Temp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('pen.png') %>
  </head>

  <body>
    <div class="ui borderless main menu">
      <div class="ui text container">
        <% if current_user %>
          <%= link_to tweet_new_url, class: "header item" do %>
            Temp
          <% end %>
          <div class="right menu">
            <div class="ui simple dropdown item">
              <%= image_tag current_user.image_url, class: 'menu-user-icon' %>
              <i class="dropdown icon"></i>
              <div class="menu">
                <%= link_to logout_path, class: "item" do %>
                  ログアウト
                <% end %>
              </div>
            </div>
          </div>
          <% else %>
            <%= link_to root_url, class: "header item" do %>
              Temp
            <% end %>
            <div class="right menu">
              <%= link_to '/auth/twitter', class: "item" do %>
                ログイン
              <% end %>
            </div>
          <% end %>
      </div>
    </div>
    <% if notice %>
      <div class="ui text container">
        <div class="ui mini green message">
          <i class="close icon"></i>
          <%= notice %>
        </div>
      </div>
    <% end %>
    <% if alert %>
      <div class="ui text container">
        <div class="ui mini red message">
          <i class="close icon"></i>
          <%= alert %>
        </div>
      </div>
    <% end %>
    <%= yield %>
    <div class="center">
      <div class="ui horizontal small divided link list">
        <%= link_to root_url, class: "item" do %>
          © 2018 Temp
        <% end %>
      </div>
    </div>
  </body>
  <script>
  $('.message .close')
    .on('click', function() {
      $(this)
        .closest('.message')
        .transition('fade')
      ;
    })
  ;</script>
</html>
